<p id="notice"><%= notice %></p>

<p>
  <strong>Login:</strong>
  <%= @secure_user.login %>
</p>

<p>
  <strong>Password digest:</strong>
  <%= @secure_user.password_digest %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @secure_user.bio %>
</p>

<%= link_to 'Edit', edit_secure_user_path(@secure_user) %> |
<%= link_to 'Back', secure_users_path %>
